{% extends 'base.html' %}

{% block title %}Profile Settings{% endblock %}

{% block content %}
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                    <span style="font-weight: 700;">{{ username }}</span>
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label class="labels">Name</label>
                            <input type="text" class="form-control" placeholder="First name" value="">
                        </div>
                        <div class="col-md-6">
                            <label class="labels">Surname</label>
                            <input type="text" class="form-control" placeholder="Surname" value="">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">Mobile Number</label>
                            <input type="text" class="form-control" placeholder="Enter phone number" value="">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Address</label>
                            <input type="text" class="form-control" placeholder="Enter address" value="">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Apartment</label>
                            <input type="text" class="form-control" placeholder="Enter apartment" value="">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Zipcode</label>
                            <input type="text" class="form-control" placeholder="Enter zipcode" value="">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">E-mail</label>
                            <input type="text" class="form-control" placeholder="Enter e-mail" value="">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label class="labels">Country</label>
                            <input type="text" class="form-control" placeholder="Country" value="">
                        </div>
                        <div class="col-md-6">
                            <label class="labels">City</label>
                            <input type="text" class="form-control" placeholder="City" value="">
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <button class="btn btn-outline-dark mt-auto me-4" type="button">Save Profile</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
