{% extends 'base.html' %}

{% block title %}Print3DStuff | Shipping{% endblock title %}

{% block content %}
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h4 class="mb-3">Shipping address</h4>

        {% if order.billing_address %}
        <p>You have already added the address! <i><b>{{ order.billing_address.street_address }}</b></i>, do you want to change?</p>
        <a href="{% url 'mainapp:shipping' %}" class="btn btn-outline-dark mt-auto me-4">Change address</a>
        <a href="{% url 'mainapp:payment' %}" class="btn btn-outline-dark mt-auto me-4">Proceed to checkout</a>

        {% else %}

        <!-- Shipping address form -->
        <form action="" method="post" autocomplete="off" class="container">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center mt-5">
              <button class="btn btn-outline-dark mt-auto me-4" type="submit">Continue checkout</button>
            </div>
          </div>
        </form>

        {% endif %}
      </div>
      <div class="col-md-4">
        {% include 'cart_snippet.html' %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
