{% extends 'base.html' %}

{% block title %} Print3DStuff | Shipping {% endblock title %}

{% block content %}
<!-- Section-->
<section class="py-5">
    <div class="container table-responsive" style="max-width: 500px;">

        <h4 class="mb-3">Shipping address</h4>

        <form action="" method="post" autocomplete="off" class="container">
            {% csrf_token %}
                <div class="form-floating mb-3">
                    {{ form.street_address }}
                    <label for="floatingInput">Street name and house number</label>
                </div>
                <div class="form-floating mb-3">
                    {{ form.apartment_address }}
                    <label for="floatingApartment">Apartment</label>
                </div>
                <div class="form-floating mb-3">
                    {{ form.country }}
                    <div class="invalid-feedback">Please select valid country</div>
                    <label for="floatingSelect">Country</label>
                </div>
                <div class="form-floating mb-3">
                    {{ form.zip_code }}
                    <label for="floatingZip">Zip Code</label>
                </div>
               <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center mt-5">
                        <a class="btn btn-outline-dark mt-auto me-4" href="#">Continue checkout</a>
                    </div>
                </div>
        </form>
    </div>
 </section>
{% endblock %}